<launch>
  <!-- MAIN CARTOGRAPHER (NO BAD FLAGS) -->
  <node pkg="cartographer_ros"
        name="cartographer_node"
        type="cartographer_node"
        output="screen"
        args="
          -configuration_directory $(find me5413_slam_comparison)/config/cartographer
          -configuration_basename cartographer.lua">

    <!-- Your bag uses /front/scan -->
    <remap from="/scan" to="/front/scan"/>
    <param name="/use_odometry" value="false"/>
  
  </node>

  <!-- OPTIMIZED OCCUPANCY GRID -->
  <node pkg="cartographer_ros"
        name="occupancy_grid_node"
        type="cartographer_occupancy_grid_node"
        output="screen">
    <param name="resolution" value="0.05"/>
    <param name="publish_period_sec" value="2.0"/>     <!-- SLOWER = FASTER SAVE -->
  </node>

</launch>

